@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

ul {
    column-width: 400px;
    column-gap: 20px;
    padding: 10px;
  }
  
  li img{
     width: 100%;
     height: auto;
     display: inline-block;
     margin-bottom: 20px;
  }
  
  li {
    list-style: none;
  }


h1 {
    text-align: center;
    font-family: Roboto;
}

p {
    text-align: left;
    font-family: Roboto;
}